html {
  background-color: #FEFEFE;
}

html,
body,
div[id="root"] {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  box-shadow: none;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slide-enter-done {
  transform: translateX(0);
}

.Toastify__toast-container {
}
.Toastify__toast {
  display: flex;
  // box-shadow: 0px 4px 30px rgba(38, 150, 83, 0.4);
  border-radius: 30px;
  width: 100%;
  margin: 0;

  & > svg {
    position: absolute;
    right: 16px;
    top: 20px;
  }

  &--success {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #269653;
  }

  &--error {
    // background: $color-orange;
  }

  &--info {
  }
}

.Toastify__close-button {
  align-self: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: red;
  background: blue;

  & > svg {
    display: none;
  }

  // custom cross
  &:after {
    content: '\e80a';
    font-family: 'Fontello', Arial, Helvetica, sans-serif;
  }

}
