html {
  background-color: #FEFEFE;
}

html,
body,
div[id="root"] {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;

  ::-webkit-datetime-edit-fields-wrapper {
    position: absolute;
    left: 12px;
    top: 35%;
  }

  ::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 12px;
    top: 33%;
    background-image: url('../src/assets/img/calendar.svg');
  }

}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  box-shadow: none;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.slide-enter-done {
  transform: translateX(0);
}

.Toastify {
  &__toast-container {
    padding: 0 !important;
    width: fit-content !important;
    height: fit-content !important;

    &--top-right {
      @media only screen and (max-width: 480px) {
        top: 1em;
        right: 0;
      }
    }
  }

  &__toast-body {
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
    border-radius: 50% !important;
  }
}

.Toastify .Toastify__toast {
  padding: 0 !important;
  display: flex;
  box-shadow: none;
  color: none;
  overflow: visible;
  border-radius: 30px;
  width: 100%;
  overflow: visible;
  background: transparent !important;
  border-radius: 12px !important;

  &:not(:last-child) {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  &>svg {
    position: absolute;
    right: 16px;
    top: 20px;
  }

  &--success {}

  &--error {
    // background: $color-orange;
  }

  &--info {}
}

.Toastify {
  &__toast-theme {
    &--light {
      background: none;
    }
  }

  &__close-button {
    align-self: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: red;
    background: blue;

    &>svg {
      display: none;
    }

    // custom cross
    &:after {
      content: '\e80a';
      font-family: 'Fontello', Arial, Helvetica, sans-serif;
    }
  }
}

/**************************/
/* CSS Animations Classes */
/**************************/

/*
The following class-endings: *-enter, *-enter-active, *-exit, *-exit-active,
have very specific meanings to <CSSTransition />
(see more: https://reactcommunity.org/react-transition-group/css-transition)
*/

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
